<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="main.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <header>
        <nav>
            <a class="lien" href="/">Indexer<a><a class="lien" style="background-color:blue" href="/search">Rechercher</a>
        </nav>
        <h1>{{ message }}</h1>
        <form action="" method="post">
            <input id="url" name="url" type="text" placeholder="Saisir un mot" />
            <input id="button"type="submit" value="recherche" />
        </form>
    </header>
    <main>
        <section>
            <h2>Resultats de recherche</h2>
            <article>
                <b>{{ pageIndex }}</b>
            </article>
        </section>
    </main>
  </body>
</html>